extends layout

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia.css')

block page_name
  = _("Administration")

block content
  ul
    if user.caps & Constants.Capability.MANAGE_USERS
      li
        a(href='/admin/users') Users
    if user.caps & Constants.Capability.MANAGE_DEVICES
      li
        a(href='/admin/devices') Configured devices

